0_FolderStructure/
YUDKOWSKY/
agirussia.github.io-main
.obsidian/
.smtcmp_json_db/
.smart-env/
.kilocode/
.copilot-index/
problem_set/
Compute vs Работа мозгами инженеров/
Nexus_attachments/
copilot/
ASI-development/
40think_agent/
19_Other/
15_CodingAgent/
6_Input_Convert_to_ InnerThink/
5_Input_Context_Expand/
4_часть_субтитры/
4_Input_Enchance/
3_AGI_Input/
2_Human_Output/
0_subtitles/
0_reddit_ai/
0_private_tg_whatsapp_etc/
0_Nexus/
0_NeuronalTemplate/
0_HTML import/
0_agi_russia_telegram/
0_0Telegram/
0_subs/
0_reddit_ai/
0_NeuronalTemplate/
0_msg/
0_chatgpt/AI2_tech/
0_chatgpt/NOT_AI/
0_0Telegram/
.smtcmp_vector_db.tar.gz