*
!0_CoreConceptOfLife
.obsidian/
.smtcmp_json_db/
.smart-env/
.kilocode/
.copilot-index/
Nexus_attachments/
copilot/
ASI-development/
40think_agent/
24_Physics/
23_SimilarProjects/
22_AI_Research_mainstream/
21_RAW_Ideas_Notes/
20_RAW_Ideas_Chat/
19_Other/
18_IT_specialists/
17_OverlaySemanticWeight/
16_Sport_Bio_Agent/
15_CodingAgent/
14_Neurobrain_CogScience/
13_Hardware/
12_Software/
11_LLM_Selector/
10_Token_Litography/
9_Overlay_NeuralNet_N2S/
8_PoV_Router/
7_Metod_Of_Think/
6_Input_Convert_to_ InnerThink/
5_Input_Context_Expand/
4_часть_субтитры/
4_Input_Enchance/
3_AGI_Input/
2_Human_Output/
0_subtitles/
0_reddit_ai/
0_private_tg_whatsapp_etc/
0_Nexus/
0_NeuronalTemplate/
0_HTML import/
0_agi_russia_telegram/
0_0Telegram/
